.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
     
 }
 

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
    }

.container{
        display: flex;
        justify-content: space-between;
        align-items: center;
       }


.container__imagem{
        padding: 1em;
       }
       

.lista__menu {
display: none;
background-color: var(--branco);
position: absolute;
top: 100%;
width: 60vw;
}

.lista__menu-item{

    padding: 1em;
}

.lista__menu-link{
    color: var(--roxo);
   
   
   }
   .lista__menu-titulo{
       color: var(--amarelo);
       font-weight: 700;
   }

.container__botao:checked~.lista__menu{
    display: block;
}

.container__botao{
    display: none;
}

.lista-menu__titulo{
    font-weight: 700;

}  

.container___titulo {
    display:none;
}
@media screen and (min-width:1024px) {

    .conteiner__titulo{
        display: block;
    } 
    
    .cabecalho__menu{
        display: none;
    }

    .conteiner__favorito{
        display: none;
    }
    
}
